.card_body{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.section1{
    display: flex;
    font-size: 15px;
    
    align-items: center;
    justify-content: space-between;
}
.title_name{
    font-weight: bold;
}
.section2{
    padding:0;
    padding-left: 10px;
    display: flex;
}